#root {
	height: 100vh;
	max-width: 1280px;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
.landing-page {
	position: relative;
	background-color: transparent;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	color: #999;
	font: 400 16px/1.5 exo, ubuntu, 'segoe ui', helvetica, arial, sans-serif;
	text-align: center;
	/* img size is 50x50 */
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC')
		repeat 0 0;
	background-attachment: fixed;

	-webkit-animation: bg-scrolling-reverse 0.92s infinite;
	/* Safari 4+ */
	-moz-animation: bg-scrolling-reverse 0.92s infinite;
	/* Fx 5+ */
	-o-animation: bg-scrolling-reverse 0.92s infinite;
	/* Opera 12+ */
	animation: bg-scrolling-reverse 0.92s infinite;
	/* IE 10+ */
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}

.landing-page.night {
	background: url('https://www.toptal.com/designers/subtlepatterns/uploads/repeated-square-dark.png') repeat 0 0;
	-webkit-animation: bg2-scrolling-reverse 0.45s infinite;
	/* Safari 4+ */
	-moz-animation: bg2-scrolling-reverse 0.45s infinite;
	/* Fx 5+ */
	-o-animation: bg2-scrolling-reverse 0.45s infinite;
	/* Opera 12+ */
	animation: bg2-scrolling-reverse 0.45s infinite;
	/* IE 10+ */

	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}
.landing-page.pause {
	animation-play-state: paused;
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	background-color: rgb(49, 54, 62);
	z-index: 1;
}
.foot {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10%;
	background-color: rgb(49, 54, 62);
	z-index: 1;
}
.menu {
	position: absolute;
	top: 20%;
	left: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	padding-left: 10%;
	font: 90px tinos;
}
.menu a {
	color: black;
	text-decoration: none;
	font-style: normal;
	font-weight: 200;
}
.menu a:hover {
	text-decoration: none;
	font-style: italic;
	font-weight: 900;
}

.menu-item {
	display: flex;
	flex-direction: row;
	justify-items: space-between;
	min-width: 50%;
}
.menu-item.list {
	min-width: 100%;
}
.menu-item a {
	color: black;
	text-decoration: none;
	font-style: normal;
	font-weight: 200;
}
a.night {
	color: white;
}
.menu-item a.git {
	animation: arrow 2s linear infinite;
}

.project-list {
	position: absolute;
	top: 20%;
	left: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: space-between;
	align-items: center;
	overflow: scroll;
}
a {
	color: black;
}
.project-list a {
	text-decoration: none;
	font-style: normal;
	font-weight: 200;
	font: 70px tinos;
	opacity: 0.2;
}
.project-list a.active {
	opacity: 1;
}
.project-list a:hover {
	text-decoration: none;
	font-style: italic;
	font-weight: 900;
	opacity: 1;
}
a.site-preview.night {
	color: white;
}
.ship {
	position: absolute;
	top: 30%;
	left: 60%;
	color: black;
	font-size: 50px;
	animation: disappear 10s ease-in forwards;
}
.ship.night {
	color: white;
}

.link {
	position: absolute;
	top: 40%;
	left: 50%;
	color: black;
	font-size: 50px;
	animation: disappear 3s linear forwards;
}
.link.night {
	color: white;
}
.drag {
	animation: disappear 3s linear forwards;
}
#contact {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: rgb(237, 235, 235);
	color: black;
	font-size: 16px;
	animation: disappear 0.5s linear reverse;
}
#contact.night {
	background-color: rgb(49, 54, 62);
	color: white;
}
#contact .container-fluid {
	display: flex;
	flex-direction: column;
	text-align: left;
}
#service-inquiry-form {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 99;

	background-color: rgb(237, 235, 235);
	color: black;
	font-size: 16px;
	animation: disappear 0.5s linear reverse;
}
.service-exit {
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: larger;
}
.service-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 20% 25% 15%;
}
.form-services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	align-items: left;
	text-align: left;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.page-header {
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
	color: black;
}

.modal-body {
	display: flex;
	flex-direction: column;
	padding-left: 5%;
}
.page-header {
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
	color: black;
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
}
.page-header.night {
	color: white;
}
.contact-text {
	font-size: 20px;
	padding-bottom: 3.5rem;
}
.contact-text h5 {
	font-size: 30px;
}
.folio-form {
	display: flex;
	flex-direction: column;
}
.folio-form .form-ctrl {
	display: block;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	max-width: 500px;
	width: 100%;
	color: var(--color-text);
	padding: 0 0 5px 0;
	line-height: 26px;
	margin-bottom: 40px;
	border-bottom: 1px solid black;
	outline: none;
	background: transparent;
}
.btn {
	font-weight: 700;
	font-size: 12px;
	max-width: fit-content;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: 1.63px;
	transition: 0.4s;
	height: 50px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 0 32px 54px rgba(3, 3, 3, 0.12);
	border-radius: 50rem;
	background-color: rgb(49, 54, 62);
	color: white;
	cursor: pointer;
}
.btn.night {
	background-color: white;
	color: black;
}
.theme-panel {
	position: fixed;
	right: 0;
	top: 25%;
	z-index: 100;
	transition: 0.4s;
	transform: translateX(100%);
}

.theme-body {
	background-color: #0b0c14;
	border: transparent;
	max-width: 185px;
	padding: 15px 13px;
	text-align: center;
	border-bottom-left-radius: 25px;
	position: relative;
}

.theme-body > span {
	color: white;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: -0.09px;
	line-height: 26px;
	padding-bottom: 8px;
	display: inline-flex;
}

.theme-body .btn-group {
	box-shadow: 0 12px 34px rgba(22, 28, 45, 0.2);
	border-radius: 33px;
	background-color: white;
	overflow: hidden;
	display: flex;
	max-width: 153px;
}

.theme-body .btn-group .switcher-btn {
	background: transparent;
	border: none;
	width: 50%;
	font-size: 11px;
	font-weight: 700;
	height: 42px;
	padding-left: 15px;
	padding-right: 15px;
	letter-spacing: 1.4px;
	text-transform: uppercase;
}

.theme-body .btn-group .switcher-btn.active {
	background-color: #a8b1cb;
}

.theme-body .theme-tab {
	position: absolute;
	top: 0;
	left: 1px;
	transform: translateX(-100%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 50px;
	border: 0;
	background-color: #0b0c14;
	color: white;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

.theme-panel.open {
	transform: translateX(0);
}
.business-card.night {
	border: white 1px solid;
}

.business-card {
	position: relative;
	background-color: transparent;
	top: 50%;
	left: 50%;
	color: #999;
	border: black 1px solid;
	box-shadow: 10px;
	border-radius: 5px;

	width: 350px;
	height: 200px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	animation: flip 1s ease-in forwards;
	animation: heart-beat 5s linear infinite;
}
.business-card:hover {
	cursor: pointer;
}

.name-container {
	display: flex;
	flex-direction: column;
}
.click {
	font-size: 20%;

	animation: click-heart-beat 4s linear infinite;
}

.business-card.drop:hover {
	cursor: none;
	background-color: transparent;
}
.flip {
	animation: flip 5s ease-in forwards;
}
@media (max-width: 680px) {
	.business-card {
		max-width: 50%;
		height: 100px;
	}
	.landing-page {
		height: 100vh;
		min-width: 100%;
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC')
			repeat 0 0;
		background-attachment: fixed;
	}

	.business-card .name-container {
		font-size: 10px;
	}
	.menu-item {
		font-size: 80%;
	}
	.project-list a {
		font-size: 10px;
	}
	.ship {
		font-size: 10px;
	}
	.link {
		font-size: 10px;
	}
	.contact-text {
		font-size: 10px;
	}
	.folio-form .form-ctrl {
		font-size: 10px;
	}
	.btn {
		font-size: 10px;
	}
	.theme-panel {
		font-size: 10px;
	}
	.theme-body {
		font-size: 10px;
	}
	.theme-body > span {
		font-size: 10px;
	}
	.theme-body .btn-group {
		font-size: 10px;
	}
	.theme-body .btn-group .switcher-btn {
		font-size: 10px;
	}
	.theme-body .btn-group .switcher-btn.active {
		font-size: 10px;
	}
	.theme-body .theme-tab {
		font-size: 10px;
	}
}
@keyframes flip {
	0% {
		animation-play-state: paused;

		transform: rotatey(0deg);
	}
	33% {
		transform: rotatey(-180deg) translate(200px);
	}
	66% {
		transform: rotatey(360deg) translate(400px);
	}
	100% {
		transform: rotatey(-540deg) translate(600px);
	}
}
@keyframes heart-beat {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.1);
	}
	20% {
		transform: scale(1.2);
	}
	30% {
		transform: scale(1.3);
	}
	40% {
		transform: scale(1.4);
	}
	50% {
		transform: scale(1.5);
	}
	60% {
		transform: scale(1.4);
	}
	70% {
		transform: scale(1.3);
	}
	80% {
		transform: scale(1.2);
	}
	90% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes click-heart-beat {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.4);
	}
	20% {
		transform: scale(1.8);
	}
	30% {
		transform: scale(2.2);
	}
	40% {
		transform: scale(2.6);
	}
	50% {
		transform: scale(3);
	}
	60% {
		transform: scale(2.6);
	}
	70% {
		transform: scale(2.2);
	}
	80% {
		transform: scale(1.8);
	}
	90% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes card-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes disappear {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 0.9;
		scale: 0.9;
	}
	20% {
		opacity: 0.8;
		scale: 0.8;
	}
	30% {
		opacity: 0.7;
		scale: 0.7;
	}
	40% {
		opacity: 0.6;
		scale: 0.6;
	}
	50% {
		opacity: 0.5;
		scale: 0.5;
	}
	60% {
		opacity: 0.4;
		scale: 0.4;
	}
	70% {
		opacity: 0.3;
		scale: 0.3;
	}
	80% {
		opacity: 0.2;
		scale: 0.2;
	}
	90% {
		opacity: 0.1;
		scale: 0.1;
	}

	100% {
		opacity: 0;
		scale: 0;
		transform: translateY(0);
	}
}
@keyframes arrow {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(-80px);
	}
	100% {
		transform: translateX(2000px);
	}
}

@-webkit-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}
@-moz-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}
@-o-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}
@keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}
@-webkit-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}
@-moz-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}
@-o-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}
@keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}

@-webkit-keyframes bg2-scrolling-reverse {
	100% {
		background-position: 30px 30px;
	}
}
@-moz-keyframes bg2-scrolling-reverse {
	100% {
		background-position: 30px 30px;
	}
}
@-o-keyframes bg2-scrolling-reverse {
	100% {
		background-position: 30px 30px;
	}
}
@keyframes bg2-scrolling-reverse {
	100% {
		background-position: 30px 30px;
	}
}
@-webkit-keyframes bg2-scrolling {
	0% {
		background-position: 30px 30px;
	}
}
@-moz-keyframes bg2-scrolling {
	0% {
		background-position: 30px 30px;
	}
}
@-o-keyframes bg2-scrolling {
	0% {
		background-position: 30px 30px;
	}
}
@keyframes bg2-scrolling {
	0% {
		background-position: 30px 30px;
	}
}
